In [8]:
# Configuration

# days used in calculating ratios
DAYS_RATIO = [3, 5, 10, 15, 30, 60, 120, 250]

# risk free rate
RISK_FREE_RATE = 0.04

In [9]:
import pandas as pd

# Set pandas display options to show more columns and rows
pd.set_option('display.max_columns', None)  # Show all columns
# pd.set_option('display.max_rows', 10)       # Limit to 10 rows for readability
pd.set_option('display.width', None)        # Let the display adjust to the window

# 2. Set the display width (optional but often helpful)
#    'None' tries to detect terminal width. 
#    A large number (e.g., 1000) ensures no wrapping unless absolutely necessary.
pd.set_option('display.width', 1000)

In [10]:
# process_files.py
from config import date_str, DOWNLOAD_DIR, DEST_DIR
from pathlib import Path  # Better path handling

print(f"date_str: {date_str}")
# print(f"DOWNLOAD_DIR: {DOWNLOAD_DIR}")
print(f"DEST_DIR: {DEST_DIR}\n")

# Build paths
source_path = Path(DEST_DIR) / f'{date_str}_df_OHLCV_clean.parquet'
dest_path = Path(DEST_DIR) / f'{date_str}_df_perf_ratios.parquet'

print(f"source_path: {source_path}")
print(f"dest_path: {dest_path}")

date_str: 2025-04-24
DEST_DIR: ..\data

source_path: ..\data\2025-04-24_df_OHLCV_clean.parquet
dest_path: ..\data\2025-04-24_df_perf_ratios.parquet

In [11]:
import pandas as pd

# Get tickers from df_finviz.pkl file
df_finviz = pd.read_parquet(f'..\data\{date_str}_df_finviz.parquet')
tickers = df_finviz.index.to_list()

In [12]:
import pandas as pd

pd.set_option('display.width', 1000) 

# Load the DataFrame df_OHLCV_2025-03-14_clean.pkl
# df = pd.read_pickle(source_path)
df = pd.read_parquet(source_path, engine='pyarrow')

# # Display the first few rows of the DataFrame to verify
# df = df[['Adj Close']].copy()
display(df)

                     Open    High     Low   Close  Adj Close   Volume    Adj Open    Adj High     Adj Low
Symbol Date
FAST   2025-04-24   80.34   82.20   80.14   82.10      82.10  3246094   80.340000   82.200000   80.140000
       2025-04-23   82.12   82.40   79.79   80.19      80.19  4073800   82.120000   82.400000   79.790000
       2025-04-22   81.01   81.84   80.54   81.44      81.44  2965600   81.010000   81.840000   80.540000
       2025-04-21   81.06   81.45   79.67   80.29      80.29  3089800   81.060000   81.450000   79.670000
       2025-04-17   81.35   82.06   80.66   81.58      81.58  3497600   81.350000   82.060000   80.660000
...                   ...     ...     ...     ...        ...      ...         ...         ...         ...
CASY   2024-05-01  318.55  321.47  318.21  318.66     317.47   277100  317.360411  320.269506  317.021680
       2024-04-30  321.45  323.13  318.02  319.58     318.39   386200  320.253037  321.926781  316.835809
       2024-04-29  320.98  324.39  319.59  323.27     321.63   308700  319.351618  322.744318  317.968669
       2024-04-26  317.74  322.62  317.74  320.03     318.41   229700  316.131592  320.986889  316.131592
       2024-04-25  313.95  321.81  313.95  317.78     316.17   251600  312.359404  320.179582  312.359404

[284000 rows x 9 columns]

In [13]:
df

                     Open    High     Low   Close  Adj Close   Volume    Adj Open    Adj High     Adj Low
Symbol Date
FAST   2025-04-24   80.34   82.20   80.14   82.10      82.10  3246094   80.340000   82.200000   80.140000
       2025-04-23   82.12   82.40   79.79   80.19      80.19  4073800   82.120000   82.400000   79.790000
       2025-04-22   81.01   81.84   80.54   81.44      81.44  2965600   81.010000   81.840000   80.540000
       2025-04-21   81.06   81.45   79.67   80.29      80.29  3089800   81.060000   81.450000   79.670000
       2025-04-17   81.35   82.06   80.66   81.58      81.58  3497600   81.350000   82.060000   80.660000
...                   ...     ...     ...     ...        ...      ...         ...         ...         ...
CASY   2024-05-01  318.55  321.47  318.21  318.66     317.47   277100  317.360411  320.269506  317.021680
       2024-04-30  321.45  323.13  318.02  319.58     318.39   386200  320.253037  321.926781  316.835809
       2024-04-29  320.98  324.39  319.59  323.27     321.63   308700  319.351618  322.744318  317.968669
       2024-04-26  317.74  322.62  317.74  320.03     318.41   229700  316.131592  320.986889  316.131592
       2024-04-25  313.95  321.81  313.95  317.78     316.17   251600  312.359404  320.179582  312.359404

[284000 rows x 9 columns]

In [14]:
import pandas as pd

# Load the DataFrame df_OHLCV_2025-03-14_clean.pkl
# df = pd.read_pickle(source_path)
df = pd.read_parquet(source_path, engine='pyarrow')

# Display the first few rows of the DataFrame to verify
df = df[['Adj Close']].copy()
display(df)

                   Adj Close
Symbol Date
FAST   2025-04-24      82.10
       2025-04-23      80.19
       2025-04-22      81.44
       2025-04-21      80.29
       2025-04-17      81.58
...                      ...
CASY   2024-05-01     317.47
       2024-04-30     318.39
       2024-04-29     321.63
       2024-04-26     318.41
       2024-04-25     316.17

[284000 rows x 1 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 284000 entries, ('FAST', Timestamp('2025-04-24 00:00:00')) to ('CASY', Timestamp('2024-04-25 00:00:00'))
Data columns (total 1 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Adj Close  284000 non-null  float64
dtypes: float64(1)
memory usage: 3.3+ MB

In [16]:
import pandas as pd

def select_tickers_data(df, tickers):
  """
  Selects data for a list of tickers from a DataFrame with a MultiIndex
  where the first level is the ticker and the second level is the date.

  Args:
    df (pd.DataFrame): The input DataFrame with a MultiIndex.
    tickers (list): A list of ticker symbols to select.

  Returns:
    pd.DataFrame: A DataFrame containing only the data for the specified tickers.
                  Rows for tickers not found will not be included.
  """
  valid_tickers = [t for t in tickers if t in df.index.get_level_values(0)]  # Filter out the tickers that do not exist

  if not valid_tickers:
    print("No valid tickers found in the DataFrame. Returning an empty DataFrame.")
    return pd.DataFrame()

  try:
    ticker_df = df.loc[valid_tickers]
    return ticker_df
  except KeyError as e:
    print(f"KeyError after filtering valid tickers: {e}") #Added to help debugging.
    return pd.DataFrame()


# Example usage:
# ticker_list = ["UBS", "AAPL", "MSFT", "GEV"]  # Include some valid and invalid tickers
selected_data = select_tickers_data(df, tickers)
print(selected_data)

                   Adj Close
Symbol Date
AAPL   2025-04-24     208.37
       2025-04-23     204.60
       2025-04-22     199.74
       2025-04-21     193.16
       2025-04-17     196.98
...                      ...
VRNA   2024-05-01      15.22
       2024-04-30      15.45
       2024-04-29      15.56
       2024-04-26      15.47
       2024-04-25      15.31

[284000 rows x 1 columns]

In [17]:
# Get root directory (assuming notebook is in root/notebooks/)
NOTEBOOK_DIR = Path.cwd()
ROOT_DIR = NOTEBOOK_DIR.parent if NOTEBOOK_DIR.name == 'notebooks' else NOTEBOOK_DIR

import sys

# Add src directory to Python path
sys.path.append(str(ROOT_DIR / 'src'))

import utils

list_dfs = utils.get_latest_dfs(selected_data, DAYS_RATIO)

In [18]:
import numpy as np

all_results = {}

for _df in list_dfs:
    tickers_in_df = _df.index.get_level_values(0).unique()
    for ticker in tickers_in_df:
        # Suppress division warnings just for this calculation
        with np.errstate(divide='ignore', invalid='ignore'):
            result_df = utils.analyze_stock(_df, ticker, risk_free_rate=RISK_FREE_RATE)
        
        if result_df is not None:
            # Extract the ticker name from the result_df index
            ticker_name = result_df.index[0]
            # Convert the single-row DataFrame to a dictionary
            metrics = result_df.iloc[0].to_dict()
            
            # Update the existing ticker entry or create a new one
            if ticker_name in all_results:
                all_results[ticker_name].update(metrics)
            else:
                all_results[ticker_name] = metrics

if all_results:
    combined_df = pd.DataFrame.from_dict(all_results, orient='index')
    print("\nCombined performance metrics DataFrame:")
    print(combined_df)
else:
    print("No performance metrics were calculated.")

Combined performance metrics DataFrame:
       Sharpe 3d  Sortino 3d  Omega 3d  Sharpe 5d  Sortino 5d    Omega 5d  Sharpe 10d  Sortino 10d  Omega 10d  Sharpe 15d  Sortino 15d  Omega 15d  Sharpe 30d  Sortino 30d  Omega 30d  Sharpe 60d  Sortino 60d  Omega 60d  Sharpe 120d  Sortino 120d  Omega 120d  Sharpe 250d  Sortino 250d  Omega 250d
A     218.816454         inf       NaN   7.886487   15.886411    3.001500    6.114033    12.174071   2.426555   -0.490545    -0.687532   0.922623   -1.479252    -1.948510   0.775435   -3.404318    -4.152704   0.548374    -1.253997     -1.678390    0.802510    -0.788106     -1.042183    0.868647
AA     37.539709         inf       NaN  20.855821  997.969744  126.732369    5.198590     8.350212   2.332922   -0.128004    -0.191322   0.978759   -1.705471    -2.282926   0.746746   -1.492971    -1.966849   0.769091    -1.354989     -1.776924    0.787344    -0.378439     -0.525278    0.938337
AAL    11.909030         inf       NaN   2.011100    3.220114    1.405696    0.764177     1.065843   1.129811    0.679379     1.193001   1.154257   -0.526159    -0.822384   0.900930   -3.059872    -4.203030   0.547676    -0.982885     -1.473135    0.819790    -0.548836     -0.807874    0.896548
AAON   42.929735         inf       NaN   3.781448    6.154853    1.775439    3.489749     5.770278   1.686098    2.790295     5.908816   1.614590    1.520919     2.684904   1.286880   -1.116638    -1.402103   0.807497    -0.670066     -0.879098    0.872466     0.121845      0.161892    1.025182
AAPL   80.670105         inf       NaN   9.629988   23.056835    3.904888    6.260220    11.100291   2.512717    0.861200     1.584513   1.161320    0.184003     0.285017   1.035777   -0.959386    -1.385720   0.828292    -0.425439     -0.608698    0.917755     0.684005      1.017773    1.143601
...          ...         ...       ...        ...         ...         ...         ...          ...        ...         ...          ...        ...         ...          ...        ...         ...          ...        ...          ...           ...         ...          ...           ...         ...
ZM     27.049676         inf       NaN  10.428926   30.761809    4.875624    8.373436    19.606753   3.629238    1.163597     1.758282   1.228435    1.021241     1.523036   1.202532   -1.558406    -1.959995   0.741849     0.134881      0.192316    1.024498     0.682126      1.032431    1.133089
ZS     28.377270         inf       NaN   5.123015    9.783572    2.232614    5.397287    10.063707   2.356626    2.272793     4.168254   1.531138    1.613792     2.621842   1.340428    0.515871     0.764152   1.094155     0.679206      0.998013    1.123384     0.554022      0.754939    1.104724
ZTO   -16.116597  -13.026377       0.0   3.754978   14.819115    2.218769    7.822362    40.343171   5.579724    0.044859     0.064791   1.008981   -0.187604    -0.254825   0.964886    0.352924     0.485878   1.063380    -1.104279     -1.452002    0.829755    -0.162939     -0.238947    0.972806
ZTS    54.818310         inf       NaN   8.659865   23.795163    3.997909    5.082320     9.247983   2.044108   -1.563910    -2.188018   0.774289   -1.109704    -1.531577   0.827004   -1.359252    -1.739981   0.794592    -1.335359     -1.697864    0.799956    -0.017025     -0.024062    0.997058
ZWS    58.149821         inf       NaN  16.163499   74.781537   10.421588   11.695370    61.912244  11.988617    3.621775     6.794726   1.841380    0.913060     1.296728   1.181710   -1.570170    -2.038979   0.754253    -0.387862     -0.523532    0.932966     0.235717      0.338109    1.041311

[1136 rows x 24 columns]

In [19]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1136 entries, A to ZWS
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sharpe 3d     1136 non-null   float64
 1   Sortino 3d    1136 non-null   float64
 2   Omega 3d      386 non-null    float64
 3   Sharpe 5d     1136 non-null   float64
 4   Sortino 5d    1136 non-null   float64
 5   Omega 5d      1072 non-null   float64
 6   Sharpe 10d    1136 non-null   float64
 7   Sortino 10d   1136 non-null   float64
 8   Omega 10d     1131 non-null   float64
 9   Sharpe 15d    1136 non-null   float64
 10  Sortino 15d   1136 non-null   float64
 11  Omega 15d     1136 non-null   float64
 12  Sharpe 30d    1136 non-null   float64
 13  Sortino 30d   1136 non-null   float64
 14  Omega 30d     1136 non-null   float64
 15  Sharpe 60d    1136 non-null   float64
 16  Sortino 60d   1136 non-null   float64
 17  Omega 60d     1136 non-null   float64
 18  Sharpe 120d   1136 non-null   float64
 19  Sortino 120d  1136 non-null   float64
 20  Omega 120d    1136 non-null   float64
 21  Sharpe 250d   1136 non-null   float64
 22  Sortino 250d  1136 non-null   float64
 23  Omega 250d    1136 non-null   float64
dtypes: float64(24)
memory usage: 221.9+ KB

In [20]:
import numpy as np
import pandas as pd

def find_nan_inf(df):
    """
    Finds locations of NaN, Inf, and -Inf values in a DataFrame.
    
    Args:
        df (pd.DataFrame): DataFrame to check
        
    Returns:
        dict: Dictionary with column names as keys and dicts of 
              {type: indices} as values
    """
    nan_inf_locations = {}
    for col in df.columns:
        locations = {
            'NaN': df[col].index[df[col].isnull()].tolist(),
            'Inf': df[col].index[df[col] == np.inf].tolist(),
            '-Inf': df[col].index[df[col] == -np.inf].tolist()
        }
        if any(locations.values()):
            nan_inf_locations[col] = locations
    return nan_inf_locations

def print_nan_inf_locations(locations, message):
    """Prints NaN/Inf locations with a descriptive message."""
    print(message)
    if locations:
        for col, locs in locations.items():
            print(f"Column: {col}")
            for typ, indices in locs.items():
                if indices:
                    print(f"  {typ}: {indices}")
    else:
        print("No NaN or Inf values found.")

def get_column_replacement_values(df):
    """
    Calculate replacement values for each column (max for Inf/NaN, min for -Inf).
    
    Args:
        df (pd.DataFrame): Input DataFrame
        
    Returns:
        tuple: (max_values, min_values) dictionaries with column replacement values
    """
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    max_values = {}
    min_values = {}
    
    for col in numeric_cols:
        # Get finite values only
        finite_vals = df[col][np.isfinite(df[col])]
        if len(finite_vals) > 0:
            max_values[col] = finite_vals.max()
            min_values[col] = finite_vals.min()
        else:
            # If no finite values, use default
            max_values[col] = 1e5
            min_values[col] = -1e5
    
    return max_values, min_values

# Check for NaN or Inf values
has_nan_inf = combined_df.isnull().any().any() or not np.isfinite(combined_df).all().all()
print(f'combined_df has_nan_inf: {has_nan_inf}')

if has_nan_inf:
    # Calculate replacement values for each column
    max_values, min_values = get_column_replacement_values(combined_df)
    print("Replacing NaN/Inf values with column-specific max/min values")
    
    nan_inf_locations_before = find_nan_inf(combined_df)
    print_nan_inf_locations(nan_inf_locations_before, "NaN/Inf Locations BEFORE Replacement:")
    
    # Create cleaned DataFrame
    df_to_save = combined_df.copy()
    
    # Replace values column by column
    for col in df_to_save.columns:
        if col in max_values:  # Only numeric columns will be in max_values
            # Replace NaN and +Inf with max value
            # NaN is from Omega ratio where daily loss series are all zero
            # +Inf is from Sharpe ratio where daily negative excess return series are all zero
            df_to_save[col] = df_to_save[col].fillna(max_values[col])
            df_to_save[col] = df_to_save[col].replace([np.inf], max_values[col])
            # Replace -Inf with min value
            # -Inf is from Sharpe ratio where daily excess return series are the same, therefore standard deviation is zero
            df_to_save[col] = df_to_save[col].replace([-np.inf], min_values[col])
else:
    print("No NaN or Inf values found.")
    df_to_save = combined_df

# Verification
print(f'df_to_save has_nan_inf: {df_to_save.isnull().any().any() or not np.isfinite(df_to_save).all().all()}')
print_nan_inf_locations(find_nan_inf(df_to_save), "NaN/Inf Locations AFTER Replacement:")

# Output cleaned DataFrame
print(df_to_save)

combined_df has_nan_inf: True
Replacing NaN/Inf values with column-specific max/min values
NaN/Inf Locations BEFORE Replacement:
Column: Sortino 3d
  Inf: ['A', 'AA', 'AAL', 'AAON', 'AAPL', 'ABBV', 'ABEV', 'ABNB', 'ACM', 'ACN', 'ADBE', 'ADI', 'ADP', 'ADSK', 'AEG', 'AER', 'AFL', 'AFRM', 'AGCO', 'AGNC', 'AIT', 'AIZ', 'AKAM', 'ALAB', 'ALB', 'ALC', 'ALGN', 'ALL', 'ALLY', 'ALNY', 'ALSN', 'ALV', 'AM', 'AMAT', 'AMD', 'AME', 'AMP', 'AMX', 'AMZN', 'ANET', 'ANSS', 'APG', 'APH', 'APO', 'APP', 'APPF', 'APTV', 'AR', 'ARCC', 'ARE', 'ARES', 'ARM', 'ARMK', 'ARW', 'AS', 'ASML', 'ASR', 'ASTS', 'ASX', 'ATI', 'ATR', 'AUR', 'AVGO', 'AVTR', 'AWI', 'AXON', 'AXP', 'AXTA', 'AYI', 'AZN', 'BA', 'BABA', 'BAC', 'BAH', 'BALL', 'BAM', 'BAP', 'BAX', 'BBD', 'BBIO', 'BBVA', 'BBY', 'BCH', 'BDX', 'BECN', 'BEKE', 'BEN', 'BEP', 'BHP', 'BIDU', 'BILI', 'BIO', 'BIRK', 'BK', 'BKNG', 'BLD', 'BLDR', 'BLK', 'BMI', 'BMO', 'BMRN', 'BN', 'BNS', 'BNT', 'BNTX', 'BOKF', 'BPMC', 'BPOP', 'BR', 'BRK-A', 'BRK-B', 'BRKR', 'BROS', 'BSBR', 'BSX', 'BSY', 'BURL', 'BWA', 'BWXT', 'BX', 'BXP', 'BXSL', 'C', 'CACC', 'CACI', 'CAE', 'CAH', 'CAT', 'CAVA', 'CBRE', 'CBSH', 'CCCS', 'CCJ', 'CCL', 'CDNS', 'CDW', 'CEG', 'CF', 'CFG', 'CFLT', 'CFR', 'CG', 'CHH', 'CHRW', 'CIEN', 'CIGI', 'CINF', 'CLH', 'CLS', 'CM', 'CMA', 'CMG', 'CMI', 'CNH', 'CNM', 'CNP', 'COF', 'COHR', 'COIN', 'COO', 'COP', 'CORT', 'CP', 'CPAY', 'CPNG', 'CPRT', 'CQP', 'CR', 'CRBG', 'CRDO', 'CRH', 'CRL', 'CRM', 'CROX', 'CRS', 'CRWD', 'CSCO', 'CSGP', 'CSL', 'CTAS', 'CTRA', 'CTSH', 'CTVA', 'CVLT', 'CVNA', 'CVS', 'CW', 'CWAN', 'CX', 'CYBR', 'DAL', 'DASH', 'DAY', 'DB', 'DBX', 'DCI', 'DD', 'DDOG', 'DE', 'DECK', 'DELL', 'DFS', 'DGX', 'DHR', 'DINO', 'DIS', 'DKNG', 'DKS', 'DLB', 'DLR', 'DOCS', 'DOCU', 'DOV', 'DOX', 'DRS', 'DSGX', 'DT', 'DTE', 'DTM', 'DUOL', 'DVA', 'DXCM', 'EBR', 'EC', 'ECL', 'EFX', 'EGP', 'EHC', 'EIX', 'EL', 'ELV', 'EME', 'EMR', 'ENSG', 'ENTG', 'EOG', 'EPAM', 'EQH', 'EQIX', 'EQT', 'ERJ', 'ESAB', 'ESNT', 'ESTC', 'ET', 'ETN', 'ETR', 'EVR', 'EWBC', 'EXEL', 'EXLS', 'EXP', 'EXPE', 'F', 'FAF', 'FBIN', 'FCNCA', 'FCX', 'FDS', 'FDX', 'FFIV', 'FHN', 'FICO', 'FIS', 'FITB', 'FIX', 'FLEX', 'FLR', 'FLS', 'FN', 'FND', 'FNF', 'FOUR', 'FOX', 'FOXA', 'FR', 'FRHC', 'FRT', 'FSK', 'FTAI', 'FTNT', 'FTV', 'FUTU', 'FWONA', 'FWONK', 'FYBR', 'G', 'GAP', 'GDDY', 'GE', 'GEHC', 'GEN', 'GEV', 'GFL', 'GFS', 'GH', 'GL', 'GLBE', 'GLW', 'GM', 'GMED', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GRAB', 'GRMN', 'GS', 'GSK', 'GTLB', 'GTLS', 'GWRE', 'H', 'HALO', 'HAS', 'HBAN', 'HCA', 'HD', 'HEI', 'HEI-A', 'HESM', 'HIG', 'HII', 'HIMS', 'HLI', 'HLNE', 'HLT', 'HOMB', 'HOOD', 'HPE', 'HPQ', 'HSIC', 'HUBB', 'HUBS', 'HUM', 'HWM', 'IBKR', 'ICE', 'ICL', 'ICLR', 'IDXX', 'IEX', 'IFF', 'IHG', 'ILMN', 'INCY', 'INFA', 'INFY', 'ING', 'INTC', 'INTU', 'IONQ', 'IOT', 'IP', 'IPG', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITT', 'ITUB', 'ITW', 'IVZ', 'IX', 'J', 'JAZZ', 'JBHT', 'JBL', 'JCI', 'JEF', 'JHX', 'JLL', 'JNPR', 'JPM', 'JXN', 'KB', 'KBR', 'KD', 'KEX', 'KEY', 'KEYS', 'KKR', 'KLAC', 'KNSL', 'KNX', 'KT', 'KVYO', 'L', 'LAMR', 'LCID', 'LDOS', 'LECO', 'LEN', 'LEVI', 'LH', 'LLY', 'LLYVA', 'LLYVK', 'LMT', 'LNT', 'LNTH', 'LNW', 'LOAR', 'LOGI', 'LPLA', 'LPX', 'LRCX', 'LSCC', 'LTH', 'LULU', 'LUV', 'LVS', 'LYV', 'MA', 'MANH', 'MAR', 'MASI', 'MBLY', 'MCHP', 'MCO', 'MDB', 'MDGL', 'MDT', 'MEDP', 'MELI', 'MET', 'META', 'MFC', 'MGA', 'MGM', 'MHK', 'MIDD', 'MKL', 'MLI', 'MLM', 'MMSI', 'MNDY', 'MORN', 'MOS', 'MPC', 'MPLX', 'MPWR', 'MRNA', 'MRVL', 'MS', 'MSA', 'MSFT', 'MSI', 'MSTR', 'MT', 'MTB', 'MTD', 'MTSI', 'MTZ', 'MU', 'MUFG', 'NBIX', 'NCLH', 'NDAQ', 'NDSN', 'NET', 'NEU', 'NFLX', 'NI', 'NICE', 'NIO', 'NKE', 'NLY', 'NMR', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTES', 'NTNX', 'NTRA', 'NTRS', 'NU', 'NUE', 'NVDA', 'NVMI', 'NVO', 'NVT', 'NWS', 'NWSA', 'NXPI', 'NYT', 'OBDC', 'OC', 'ODFL', 'OKE', 'OKTA', 'OMF', 'ON', 'ONB', 'ONON', 'ONTO', 'ORCL', 'OSK', 'OTEX', 'OVV', 'OWL', 'PAC', 'PAG', 'PANW', 'PARA', 'PATH', 'PAYC', 'PB', 'PCAR', 'PCOR', 'PCTY', 'PDD', 'PDI', 'PEGA', 'PEN', 'PFG', 'PFGC', 'PH', 'PHG', 'PHM', 'PINS', 'PLD', 'PLTR', 'PM', 'PNC', 'PNFP', 'PNR', 'PODD', 'PPG', 'PPL', 'PR', 'PRI', 'PRU', 'PSLV', 'PSN', 'PSTG', 'PSX', 'PTC', 'PUK', 'PYPL', 'QCOM', 'QRVO', 'QXO', 'RBA', 'RBC', 'RBLX', 'RBRK', 'RCL', 'RDDT', 'REGN', 'REXR', 'RF', 'RGA', 'RGEN', 'RIO', 'RITM', 'RIVN', 'RJF', 'RKLB', 'RL', 'RMD', 'ROIV', 'ROK', 'ROKU', 'ROST', 'RRX', 'RS', 'RTX', 'RVMD', 'RVTY', 'S', 'SAIA', 'SAIC', 'SAN', 'SAP', 'SATS', 'SBS', 'SBUX', 'SCCO', 'SCHW', 'SE', 'SEIC', 'SFM', 'SHOP', 'SIRI', 'SKX', 'SLF', 'SLM', 'SMCI', 'SMMT', 'SN', 'SNA', 'SNAP', 'SNN', 'SNOW', 'SNPS', 'SNV', 'SNX', 'SNY', 'SOFI', 'SOLV', 'SONY', 'SPG', 'SPGI', 'SPOT', 'SPXC', 'SRE', 'SRPT', 'SSB', 'SSD', 'SSNC', 'STAG', 'STE', 'STEP', 'STLD', 'STM', 'STN', 'STT', 'STVN', 'STWD', 'STX', 'STZ', 'SUI', 'SUZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYM', 'T', 'TDG', 'TEAM', 'TECH', 'TECK', 'TEL', 'TER', 'TEVA', 'TFC', 'TFX', 'TGTX', 'THC', 'TIGO', 'TIMB', 'TKO', 'TLK', 'TLN', 'TM', 'TME', 'TMUS', 'TOL', 'TOST', 'TPG', 'TPL', 'TPR', 'TREX', 'TRGP', 'TRMB', 'TRNO', 'TROW', 'TRU', 'TSLA', 'TSM', 'TT', 'TTC', 'TTD', 'TTEK', 'TTWO', 'TW', 'TWLO', 'TX', 'TXN', 'TXT', 'U', 'UAL', 'UBS', 'UFPI', 'UHAL', 'UHAL-B', 'UHS', 'UI', 'ULS', 'UMBF', 'UNM', 'UPS', 'URI', 'USB', 'USFD', 'USM', 'UTHR', 'V', 'VALE', 'VEEV', 'VFS', 'VIPS', 'VIV', 'VLTO', 'VMC', 'VMI', 'VNO', 'VOYA', 'VRNA', 'VRSN', 'VRT', 'VST', 'VTRS', 'WAB', 'WAL', 'WAT', 'WBD', 'WBS', 'WCC', 'WDAY', 'WDC', 'WDS', 'WELL', 'WFC', 'WH', 'WING', 'WIT', 'WIX', 'WMB', 'WMG', 'WMS', 'WMT', 'WPP', 'WRB', 'WSM', 'WTFC', 'WTS', 'WWD', 'WY', 'WYNN', 'X', 'XP', 'XPEV', 'XPO', 'XYL', 'XYZ', 'YMM', 'YUM', 'Z', 'ZBH', 'ZG', 'ZION', 'ZM', 'ZS', 'ZTS', 'ZWS']
Column: Omega 3d
  NaN: ['A', 'AA', 'AAL', 'AAON', 'AAPL', 'ABBV', 'ABEV', 'ABNB', 'ACM', 'ACN', 'ADBE', 'ADI', 'ADP', 'ADSK', 'AEG', 'AER', 'AFL', 'AFRM', 'AGCO', 'AGNC', 'AIT', 'AIZ', 'AKAM', 'ALAB', 'ALB', 'ALC', 'ALGN', 'ALL', 'ALLY', 'ALNY', 'ALSN', 'ALV', 'AM', 'AMAT', 'AMD', 'AME', 'AMP', 'AMX', 'AMZN', 'ANET', 'ANSS', 'APG', 'APH', 'APO', 'APP', 'APPF', 'APTV', 'AR', 'ARCC', 'ARE', 'ARES', 'ARM', 'ARMK', 'ARW', 'AS', 'ASML', 'ASR', 'ASTS', 'ASX', 'ATI', 'ATR', 'AUR', 'AVGO', 'AVTR', 'AWI', 'AXON', 'AXP', 'AXTA', 'AYI', 'AZN', 'BA', 'BABA', 'BAC', 'BAH', 'BALL', 'BAM', 'BAP', 'BAX', 'BBD', 'BBIO', 'BBVA', 'BBY', 'BCH', 'BDX', 'BECN', 'BEKE', 'BEN', 'BEP', 'BHP', 'BIDU', 'BILI', 'BIO', 'BIRK', 'BK', 'BKNG', 'BLD', 'BLDR', 'BLK', 'BMI', 'BMO', 'BMRN', 'BN', 'BNS', 'BNT', 'BNTX', 'BOKF', 'BPMC', 'BPOP', 'BR', 'BRK-A', 'BRK-B', 'BRKR', 'BROS', 'BSBR', 'BSX', 'BSY', 'BURL', 'BWA', 'BWXT', 'BX', 'BXP', 'BXSL', 'C', 'CACC', 'CACI', 'CAE', 'CAH', 'CAT', 'CAVA', 'CBRE', 'CBSH', 'CCCS', 'CCJ', 'CCL', 'CDNS', 'CDW', 'CEG', 'CF', 'CFG', 'CFLT', 'CFR', 'CG', 'CHH', 'CHRW', 'CIEN', 'CIGI', 'CINF', 'CLH', 'CLS', 'CM', 'CMA', 'CMG', 'CMI', 'CNH', 'CNM', 'CNP', 'COF', 'COHR', 'COIN', 'COO', 'COP', 'CORT', 'CP', 'CPAY', 'CPNG', 'CPRT', 'CQP', 'CR', 'CRBG', 'CRDO', 'CRH', 'CRL', 'CRM', 'CROX', 'CRS', 'CRWD', 'CSCO', 'CSGP', 'CSL', 'CTAS', 'CTRA', 'CTSH', 'CTVA', 'CVLT', 'CVNA', 'CVS', 'CW', 'CWAN', 'CX', 'CYBR', 'DAL', 'DASH', 'DAY', 'DB', 'DBX', 'DCI', 'DD', 'DDOG', 'DE', 'DECK', 'DELL', 'DFS', 'DGX', 'DHR', 'DINO', 'DIS', 'DKNG', 'DKS', 'DLB', 'DLR', 'DOCS', 'DOCU', 'DOV', 'DOX', 'DRS', 'DSGX', 'DT', 'DTE', 'DTM', 'DUOL', 'DVA', 'DXCM', 'EBR', 'EC', 'ECL', 'EFX', 'EGP', 'EHC', 'EIX', 'EL', 'ELV', 'EME', 'EMR', 'ENSG', 'ENTG', 'EOG', 'EPAM', 'EQH', 'EQIX', 'EQT', 'ERJ', 'ESAB', 'ESNT', 'ESTC', 'ET', 'ETN', 'ETR', 'EVR', 'EWBC', 'EXEL', 'EXLS', 'EXP', 'EXPE', 'F', 'FAF', 'FBIN', 'FCNCA', 'FCX', 'FDS', 'FDX', 'FFIV', 'FHN', 'FICO', 'FIS', 'FITB', 'FIX', 'FLEX', 'FLR', 'FLS', 'FN', 'FND', 'FNF', 'FOUR', 'FOX', 'FOXA', 'FR', 'FRHC', 'FRT', 'FSK', 'FTAI', 'FTNT', 'FTV', 'FUTU', 'FWONA', 'FWONK', 'FYBR', 'G', 'GAP', 'GDDY', 'GE', 'GEHC', 'GEN', 'GEV', 'GFL', 'GFS', 'GH', 'GL', 'GLBE', 'GLW', 'GM', 'GMED', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GRAB', 'GRMN', 'GS', 'GSK', 'GTLB', 'GTLS', 'GWRE', 'H', 'HALO', 'HAS', 'HBAN', 'HCA', 'HD', 'HEI', 'HEI-A', 'HESM', 'HIG', 'HII', 'HIMS', 'HLI', 'HLNE', 'HLT', 'HOMB', 'HOOD', 'HPE', 'HPQ', 'HSIC', 'HUBB', 'HUBS', 'HUM', 'HWM', 'IBKR', 'ICE', 'ICL', 'ICLR', 'IDXX', 'IEX', 'IFF', 'IHG', 'ILMN', 'INCY', 'INFA', 'INFY', 'ING', 'INTC', 'INTU', 'IONQ', 'IOT', 'IP', 'IPG', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITT', 'ITUB', 'ITW', 'IVZ', 'IX', 'J', 'JAZZ', 'JBHT', 'JBL', 'JCI', 'JEF', 'JHX', 'JLL', 'JNPR', 'JPM', 'JXN', 'KB', 'KBR', 'KD', 'KEX', 'KEY', 'KEYS', 'KKR', 'KLAC', 'KNSL', 'KNX', 'KT', 'KVYO', 'L', 'LAMR', 'LCID', 'LDOS', 'LECO', 'LEN', 'LEVI', 'LH', 'LLY', 'LLYVA', 'LLYVK', 'LMT', 'LNT', 'LNTH', 'LNW', 'LOAR', 'LOGI', 'LPLA', 'LPX', 'LRCX', 'LSCC', 'LTH', 'LULU', 'LUV', 'LVS', 'LYV', 'MA', 'MANH', 'MAR', 'MASI', 'MBLY', 'MCHP', 'MCO', 'MDB', 'MDGL', 'MDT', 'MEDP', 'MELI', 'MET', 'META', 'MFC', 'MGA', 'MGM', 'MHK', 'MIDD', 'MKL', 'MLI', 'MLM', 'MMSI', 'MNDY', 'MORN', 'MOS', 'MPC', 'MPLX', 'MPWR', 'MRNA', 'MRVL', 'MS', 'MSA', 'MSFT', 'MSI', 'MSTR', 'MT', 'MTB', 'MTD', 'MTSI', 'MTZ', 'MU', 'MUFG', 'NBIX', 'NCLH', 'NDAQ', 'NDSN', 'NET', 'NEU', 'NFLX', 'NI', 'NICE', 'NIO', 'NKE', 'NLY', 'NMR', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTES', 'NTNX', 'NTRA', 'NTRS', 'NU', 'NUE', 'NVDA', 'NVMI', 'NVO', 'NVT', 'NWS', 'NWSA', 'NXPI', 'NYT', 'OBDC', 'OC', 'ODFL', 'OKE', 'OKTA', 'OMF', 'ON', 'ONB', 'ONON', 'ONTO', 'ORCL', 'OSK', 'OTEX', 'OVV', 'OWL', 'PAC', 'PAG', 'PANW', 'PARA', 'PATH', 'PAYC', 'PB', 'PCAR', 'PCOR', 'PCTY', 'PDD', 'PDI', 'PEGA', 'PEN', 'PFG', 'PFGC', 'PH', 'PHG', 'PHM', 'PINS', 'PLD', 'PLTR', 'PM', 'PNC', 'PNFP', 'PNR', 'PODD', 'PPG', 'PPL', 'PR', 'PRI', 'PRU', 'PSLV', 'PSN', 'PSTG', 'PSX', 'PTC', 'PUK', 'PYPL', 'QCOM', 'QRVO', 'QXO', 'RBA', 'RBC', 'RBLX', 'RBRK', 'RCL', 'RDDT', 'REGN', 'REXR', 'RF', 'RGA', 'RGEN', 'RIO', 'RITM', 'RIVN', 'RJF', 'RKLB', 'RL', 'RMD', 'ROIV', 'ROK', 'ROKU', 'ROST', 'RRX', 'RS', 'RTX', 'RVMD', 'RVTY', 'S', 'SAIA', 'SAIC', 'SAN', 'SAP', 'SATS', 'SBS', 'SBUX', 'SCCO', 'SCHW', 'SE', 'SEIC', 'SFM', 'SHOP', 'SIRI', 'SKX', 'SLF', 'SLM', 'SMCI', 'SMMT', 'SN', 'SNA', 'SNAP', 'SNN', 'SNOW', 'SNPS', 'SNV', 'SNX', 'SNY', 'SOFI', 'SOLV', 'SONY', 'SPG', 'SPGI', 'SPOT', 'SPXC', 'SRE', 'SRPT', 'SSB', 'SSD', 'SSNC', 'STAG', 'STE', 'STEP', 'STLD', 'STM', 'STN', 'STT', 'STVN', 'STWD', 'STX', 'STZ', 'SUI', 'SUZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYM', 'T', 'TDG', 'TEAM', 'TECH', 'TECK', 'TEL', 'TER', 'TEVA', 'TFC', 'TFX', 'TGTX', 'THC', 'TIGO', 'TIMB', 'TKO', 'TLK', 'TLN', 'TM', 'TME', 'TMUS', 'TOL', 'TOST', 'TPG', 'TPL', 'TPR', 'TREX', 'TRGP', 'TRMB', 'TRNO', 'TROW', 'TRU', 'TSLA', 'TSM', 'TT', 'TTC', 'TTD', 'TTEK', 'TTWO', 'TW', 'TWLO', 'TX', 'TXN', 'TXT', 'U', 'UAL', 'UBS', 'UFPI', 'UHAL', 'UHAL-B', 'UHS', 'UI', 'ULS', 'UMBF', 'UNM', 'UPS', 'URI', 'USB', 'USFD', 'USM', 'UTHR', 'V', 'VALE', 'VEEV', 'VFS', 'VIPS', 'VIV', 'VLTO', 'VMC', 'VMI', 'VNO', 'VOYA', 'VRNA', 'VRSN', 'VRT', 'VST', 'VTRS', 'WAB', 'WAL', 'WAT', 'WBD', 'WBS', 'WCC', 'WDAY', 'WDC', 'WDS', 'WELL', 'WFC', 'WH', 'WING', 'WIT', 'WIX', 'WMB', 'WMG', 'WMS', 'WMT', 'WPP', 'WRB', 'WSM', 'WTFC', 'WTS', 'WWD', 'WY', 'WYNN', 'X', 'XP', 'XPEV', 'XPO', 'XYL', 'XYZ', 'YMM', 'YUM', 'Z', 'ZBH', 'ZG', 'ZION', 'ZM', 'ZS', 'ZTS', 'ZWS']
Column: Sortino 5d
  Inf: ['ALB', 'ALGN', 'AMX', 'ARW', 'BABA', 'BBD', 'BBY', 'BCH', 'BEKE', 'BHP', 'BIDU', 'BNTX', 'BPOP', 'BSBR', 'CF', 'COF', 'CORT', 'DFS', 'DINO', 'EBR', 'FCX', 'FIS', 'FUTU', 'FWONK', 'GSK', 'IFF', 'ILMN', 'INFY', 'ITUB', 'KB', 'KT', 'LEVI', 'LSCC', 'LULU', 'MCHP', 'MGM', 'MRNA', 'MSTR', 'NFLX', 'NIO', 'NKE', 'NTES', 'NVO', 'NXPI', 'ON', 'PDD', 'QRVO', 'RBLX', 'RGEN', 'RIO', 'ROKU', 'SCCO', 'SLF', 'SMMT', 'SNY', 'SRPT', 'SWKS', 'U', 'VALE', 'VRNA', 'VTRS', 'WIT', 'WYNN', 'YMM']
Column: Omega 5d
  NaN: ['ALB', 'ALGN', 'AMX', 'ARW', 'BABA', 'BBD', 'BBY', 'BCH', 'BEKE', 'BHP', 'BIDU', 'BNTX', 'BPOP', 'BSBR', 'CF', 'COF', 'CORT', 'DFS', 'DINO', 'EBR', 'FCX', 'FIS', 'FUTU', 'FWONK', 'GSK', 'IFF', 'ILMN', 'INFY', 'ITUB', 'KB', 'KT', 'LEVI', 'LSCC', 'LULU', 'MCHP', 'MGM', 'MRNA', 'MSTR', 'NFLX', 'NIO', 'NKE', 'NTES', 'NVO', 'NXPI', 'ON', 'PDD', 'QRVO', 'RBLX', 'RGEN', 'RIO', 'ROKU', 'SCCO', 'SLF', 'SMMT', 'SNY', 'SRPT', 'SWKS', 'U', 'VALE', 'VRNA', 'VTRS', 'WIT', 'WYNN', 'YMM']
Column: Sortino 10d
  Inf: ['AMX', 'BCH', 'BSBR', 'CF', 'KB']
Column: Omega 10d
  NaN: ['AMX', 'BCH', 'BSBR', 'CF', 'KB']
df_to_save has_nan_inf: False
NaN/Inf Locations AFTER Replacement:
No NaN or Inf values found.
       Sharpe 3d   Sortino 3d    Omega 3d  Sharpe 5d  Sortino 5d    Omega 5d  Sharpe 10d  Sortino 10d  Omega 10d  Sharpe 15d  Sortino 15d  Omega 15d  Sharpe 30d  Sortino 30d  Omega 30d  Sharpe 60d  Sortino 60d  Omega 60d  Sharpe 120d  Sortino 120d  Omega 120d  Sharpe 250d  Sortino 250d  Omega 250d
A     218.816454  9957.030971  888.042821   7.886487   15.886411    3.001500    6.114033    12.174071   2.426555   -0.490545    -0.687532   0.922623   -1.479252    -1.948510   0.775435   -3.404318    -4.152704   0.548374    -1.253997     -1.678390    0.802510    -0.788106     -1.042183    0.868647
AA     37.539709  9957.030971  888.042821  20.855821  997.969744  126.732369    5.198590     8.350212   2.332922   -0.128004    -0.191322   0.978759   -1.705471    -2.282926   0.746746   -1.492971    -1.966849   0.769091    -1.354989     -1.776924    0.787344    -0.378439     -0.525278    0.938337
AAL    11.909030  9957.030971  888.042821   2.011100    3.220114    1.405696    0.764177     1.065843   1.129811    0.679379     1.193001   1.154257   -0.526159    -0.822384   0.900930   -3.059872    -4.203030   0.547676    -0.982885     -1.473135    0.819790    -0.548836     -0.807874    0.896548
AAON   42.929735  9957.030971  888.042821   3.781448    6.154853    1.775439    3.489749     5.770278   1.686098    2.790295     5.908816   1.614590    1.520919     2.684904   1.286880   -1.116638    -1.402103   0.807497    -0.670066     -0.879098    0.872466     0.121845      0.161892    1.025182
AAPL   80.670105  9957.030971  888.042821   9.629988   23.056835    3.904888    6.260220    11.100291   2.512717    0.861200     1.584513   1.161320    0.184003     0.285017   1.035777   -0.959386    -1.385720   0.828292    -0.425439     -0.608698    0.917755     0.684005      1.017773    1.143601
...          ...          ...         ...        ...         ...         ...         ...          ...        ...         ...          ...        ...         ...          ...        ...         ...          ...        ...          ...           ...         ...          ...           ...         ...
ZM     27.049676  9957.030971  888.042821  10.428926   30.761809    4.875624    8.373436    19.606753   3.629238    1.163597     1.758282   1.228435    1.021241     1.523036   1.202532   -1.558406    -1.959995   0.741849     0.134881      0.192316    1.024498     0.682126      1.032431    1.133089
ZS     28.377270  9957.030971  888.042821   5.123015    9.783572    2.232614    5.397287    10.063707   2.356626    2.272793     4.168254   1.531138    1.613792     2.621842   1.340428    0.515871     0.764152   1.094155     0.679206      0.998013    1.123384     0.554022      0.754939    1.104724
ZTO   -16.116597   -13.026377    0.000000   3.754978   14.819115    2.218769    7.822362    40.343171   5.579724    0.044859     0.064791   1.008981   -0.187604    -0.254825   0.964886    0.352924     0.485878   1.063380    -1.104279     -1.452002    0.829755    -0.162939     -0.238947    0.972806
ZTS    54.818310  9957.030971  888.042821   8.659865   23.795163    3.997909    5.082320     9.247983   2.044108   -1.563910    -2.188018   0.774289   -1.109704    -1.531577   0.827004   -1.359252    -1.739981   0.794592    -1.335359     -1.697864    0.799956    -0.017025     -0.024062    0.997058
ZWS    58.149821  9957.030971  888.042821  16.163499   74.781537   10.421588   11.695370    61.912244  11.988617    3.621775     6.794726   1.841380    0.913060     1.296728   1.181710   -1.570170    -2.038979   0.754253    -0.387862     -0.523532    0.932966     0.235717      0.338109    1.041311

[1136 rows x 24 columns]

In [21]:
ticker_w_inf = nan_inf_locations_before['Sortino 3d']['Inf'][0]
ticker_w_inf

'A'

#### Use Cell below to check the inf, -inf and NaN replacement

In [22]:
print(f"combined_df.loc['ticker_w_inf']")
display(combined_df.loc[ticker_w_inf])
print(f"\ndf_to_save.loc['ticker_w_inf']")
display(df_to_save.loc[ticker_w_inf])

combined_df.loc['ticker_w_inf']

Sharpe 3d       218.816454
Sortino 3d             inf
Omega 3d               NaN
Sharpe 5d         7.886487
Sortino 5d       15.886411
Omega 5d          3.001500
Sharpe 10d        6.114033
Sortino 10d      12.174071
Omega 10d         2.426555
Sharpe 15d       -0.490545
Sortino 15d      -0.687532
Omega 15d         0.922623
Sharpe 30d       -1.479252
Sortino 30d      -1.948510
Omega 30d         0.775435
Sharpe 60d       -3.404318
Sortino 60d      -4.152704
Omega 60d         0.548374
Sharpe 120d      -1.253997
Sortino 120d     -1.678390
Omega 120d        0.802510
Sharpe 250d      -0.788106
Sortino 250d     -1.042183
Omega 250d        0.868647
Name: A, dtype: float64

df_to_save.loc['ticker_w_inf']

Sharpe 3d        218.816454
Sortino 3d      9957.030971
Omega 3d         888.042821
Sharpe 5d          7.886487
Sortino 5d        15.886411
Omega 5d           3.001500
Sharpe 10d         6.114033
Sortino 10d       12.174071
Omega 10d          2.426555
Sharpe 15d        -0.490545
Sortino 15d       -0.687532
Omega 15d          0.922623
Sharpe 30d        -1.479252
Sortino 30d       -1.948510
Omega 30d          0.775435
Sharpe 60d        -3.404318
Sortino 60d       -4.152704
Omega 60d          0.548374
Sharpe 120d       -1.253997
Sortino 120d      -1.678390
Omega 120d         0.802510
Sharpe 250d       -0.788106
Sortino 250d      -1.042183
Omega 250d         0.868647
Name: A, dtype: float64

In [23]:
# Save the DataFrame to parquet file (always do this)
df_to_save.to_parquet(dest_path, engine='pyarrow', compression='zstd')
print(f"DataFrame successfully saved to {dest_path}")

DataFrame successfully saved to ..\data\2025-04-24_df_perf_ratios.parquet

In [27]:
import pandas as pd
import numpy as np
from tabulate import tabulate

_symbols = ['AAPL', 'MSFT', 'GOOG', 'NVDA', 'AMZN', 'TSLA', 'META', 'NFLX', 'V', 'JPM', 'UNH']
# Create and display the formatted table
selected_df = df_to_save.loc[_symbols] #Use df_to_save here
print(tabulate(selected_df, headers='keys', tablefmt='grid', floatfmt='.4f'))

+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
|      |   Sharpe 3d |   Sortino 3d |   Omega 3d |   Sharpe 5d |   Sortino 5d |   Omega 5d |   Sharpe 10d |   Sortino 10d |   Omega 10d |   Sharpe 15d |   Sortino 15d |   Omega 15d |   Sharpe 30d |   Sortino 30d |   Omega 30d |   Sharpe 60d |   Sortino 60d |   Omega 60d |   Sharpe 120d |   Sortino 120d |   Omega 120d |   Sharpe 250d |   Sortino 250d |   Omega 250d |
+======+=============+==============+============+=============+==============+============+==============+===============+=============+==============+===============+=============+==============+===============+=============+==============+===============+=============+===============+================+==============+===============+================+==============+
| AAPL |     80.6701 |    9957.0310 |   888.0428 |      9.6300 |      23.0568 |     3.9049 |       6.2602 |       11.1003 |      2.5127 |       0.8612 |        1.5845 |      1.1613 |       0.1840 |        0.2850 |      1.0358 |      -0.9594 |       -1.3857 |      0.8283 |       -0.4254 |        -0.6087 |       0.9178 |        0.6840 |         1.0178 |       1.1436 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| MSFT |     44.4284 |    9957.0310 |   888.0428 |      8.2031 |      17.5381 |     3.2096 |       1.2219 |        1.8995 |      1.2080 |       1.3725 |        2.8900 |      1.2826 |       0.5617 |        1.0440 |      1.1112 |      -1.5374 |       -2.2744 |      0.7455 |       -0.7315 |        -1.0429 |       0.8716 |       -0.1273 |        -0.1783 |       0.9771 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| GOOG |    518.6062 |    9957.0310 |   888.0428 |      8.6007 |      17.9943 |     3.2671 |       3.0970 |        5.4705 |      1.5252 |       1.9876 |        4.1385 |      1.3876 |      -0.2324 |       -0.3686 |      0.9628 |      -1.9681 |       -2.6498 |      0.7233 |       -0.4257 |        -0.6112 |       0.9317 |        0.1155 |         0.1665 |       1.0204 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| NVDA |    347.0916 |    9957.0310 |   888.0428 |      5.0026 |       8.6786 |     2.0934 |      -0.2734 |       -0.3631 |      0.9587 |       1.1871 |        2.2707 |      1.2373 |      -0.5525 |       -0.9010 |      0.9046 |      -0.6254 |       -0.9094 |      0.8976 |       -0.6372 |        -0.8691 |       0.8943 |        0.6602 |         0.9563 |       1.1190 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| AMZN |     85.0378 |    9957.0310 |   888.0428 |      9.2623 |      20.4775 |     3.5799 |       1.8775 |        3.3802 |      1.3110 |       1.3845 |        2.7160 |      1.2522 |      -0.3348 |       -0.5044 |      0.9443 |      -2.0411 |       -2.8035 |      0.7029 |       -0.0803 |        -0.1169 |       0.9864 |        0.2643 |         0.3748 |       1.0472 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| TSLA |     53.0566 |    9957.0310 |   888.0428 |      5.8718 |      10.5461 |     2.3287 |       1.4812 |        2.2531 |      1.2980 |       0.0981 |        0.1849 |      1.0191 |       1.0686 |        1.9424 |      1.2052 |      -1.5158 |       -2.1939 |      0.7730 |        0.3630 |         0.5715 |       1.0627 |        0.8850 |         1.4403 |       1.1682 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| META |     47.5520 |    9957.0310 |   888.0428 |      7.4342 |      14.7836 |     2.8626 |      -1.3850 |       -2.0417 |      0.8110 |       0.3851 |        0.7354 |      1.0720 |      -1.0385 |       -1.5815 |      0.8263 |      -1.7511 |       -2.4596 |      0.7260 |       -0.4004 |        -0.5793 |       0.9304 |        0.6087 |         0.8992 |       1.1160 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| NFLX |     16.6474 |    9957.0310 |   888.0428 |     22.1995 |    3768.2784 |   475.7585 |      13.1254 |       60.3827 |     10.5969 |       5.6578 |       10.8157 |      2.6821 |       3.8545 |        6.7832 |      1.9149 |       1.2377 |        1.8133 |      1.2322 |        2.1788 |         3.4341 |       1.4730 |        2.1000 |         3.4782 |       1.4600 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| V    |     28.6650 |    9957.0310 |   888.0428 |      2.8306 |       5.1391 |     1.6475 |       3.0706 |        5.5057 |      1.7053 |      -0.1654 |       -0.2458 |      0.9690 |       0.5571 |        0.8243 |      1.1139 |       0.0459 |        0.0655 |      1.0089 |        1.2230 |         1.8260 |       1.2739 |        0.8783 |         1.2435 |       1.1813 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| JPM  |     61.9008 |    9957.0310 |   888.0428 |     11.5528 |      32.7265 |     5.1232 |       6.6815 |       17.8714 |      2.7984 |       2.5190 |        4.0327 |      1.5418 |       1.7786 |        2.5510 |      1.3757 |      -0.7949 |       -1.0487 |      0.8657 |        0.6521 |         0.9888 |       1.1386 |        0.9135 |         1.3442 |       1.1925 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| UNH  |     -7.6586 |      -9.1050 |     0.1889 |     -8.3059 |      -8.2292 |     0.0810 |      -7.2624 |       -6.9362 |      0.0512 |      -3.5408 |       -3.7635 |      0.4072 |      -1.0879 |       -1.1844 |      0.7420 |      -1.4925 |       -1.6207 |      0.6910 |       -1.0457 |        -1.1854 |       0.7967 |       -0.2760 |        -0.3273 |       0.9415 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+