In [ ]:
import pandas as pd

# Assuming the file is uploaded to the /content/ directory
data_path = '/content/df_OHLCV_stocks_etfs.parquet'

df_ohlcv = pd.read_parquet(data_path, engine='pyarrow')

# Display the first few rows to confirm it's loaded correctly
display(df_ohlcv.head())

In [2]:
import pandas as pd

data_path = r'c:\Users\ping\Files_win10\python\py311\stocks\data\df_OHLCV_stocks_etfs.parquet'
df_ohlcv = pd.read_parquet(data_path, engine='pyarrow')
print(f'df_ohlcv.info():\n{df_ohlcv.info()}')
df_ohlcv

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9499175 entries, ('A', Timestamp('1999-11-18 00:00:00')) to ('ZWS', Timestamp('2025-12-16 00:00:00'))
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   Adj Open   float64
 1   Adj High   float64
 2   Adj Low    float64
 3   Adj Close  float64
 4   Volume     int64
dtypes: float64(4), int64(1)
memory usage: 399.3+ MB
df_ohlcv.info():
None

                   Adj Open  Adj High  Adj Low  Adj Close    Volume
Ticker Date
A      1999-11-18   27.2452   29.9398  23.9518    26.3470  74716411
       1999-11-19   25.7108   25.7482  23.8396    24.1764  18198351
       1999-11-22   24.7378   26.3470  23.9893    26.3470   7857766
       1999-11-23   25.4488   26.1225  23.9518    23.9518   7138321
       1999-11-24   24.0267   25.1120  23.9518    24.5881   5785607
...                     ...       ...      ...        ...       ...
ZWS    2025-12-10   46.0100   47.1100  45.9400    46.8600   1248300
       2025-12-11   47.0600   47.8900  46.8800    47.5900    657600
       2025-12-12   48.5000   48.5000  47.1000    47.1400    758400
       2025-12-15   47.4700   47.5700  47.0100    47.4200   1065100
       2025-12-16   47.6800   47.6600  46.8900    47.1600    499251

[9499175 rows x 5 columns]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# ==============================================================================
# 1. IMPROVED DATA PIPELINE (With Z-Score Normalization)
# ==============================================================================

def get_rolling_z_score(data_matrix, window=60):
    """
    Normalizes data so the Agent sees 'Standard Deviations' instead of 'Percent'.
    This solves the Vanishing Gradient problem.
    """
    df = pd.DataFrame(data_matrix)
    # Calculate rolling mean and std
    roll_mean = df.rolling(window=window, min_periods=window).mean()
    roll_std = df.rolling(window=window, min_periods=window).std()

    # Z-Score = (Value - Mean) / StdDev
    z_scores = (df - roll_mean) / (roll_std + 1e-8) # 1e-8 prevents divide by zero

    # Fill NaN (the first 60 days) with 0
    return z_scores.fillna(0.0).values

def prepare_robust_data(df_ohlcv, split_ratio=0.8):
    print("--- ðŸ› ï¸ Preparing Level 2 Data (Normalized) ---")

    # 1. Pivot
    closes = df_ohlcv['Adj Close'].unstack(level=0)

    # 2. Log Returns
    log_returns = np.log(closes / closes.shift(1)).fillna(0.0)

    # 3. NORMALIZE (The Fix)
    # We pass the NORMALIZED data to the Input (X)
    # But we keep raw log_returns for the Reward Calculation (y)
    print("    > Calculating Rolling Z-Scores (60d)...")
    norm_features = get_rolling_z_score(log_returns.values)

    # 4. Split
    split_idx = int(len(log_returns) * split_ratio)

    # Train Sets
    X_train = norm_features[:split_idx]
    y_train = log_returns.values[:split_idx] # Rewards must be real $

    # Test Sets
    X_test = norm_features[split_idx:]
    y_test = log_returns.values[split_idx:]

    return X_train, y_train, X_test, y_test

# ==============================================================================
# 2. IMPROVED AGENT (Gradient Clipping & Scaling)
# ==============================================================================

# ==============================================================================
# LONG ONLY AGENT (0% to 100% Invested)
# ==============================================================================

class LongOnlyAgent:
    def __init__(self, input_dim, learning_rate=0.001):
        self.weights = np.random.randn(input_dim) * 0.1
        self.lr = learning_rate
        self.velocity = np.zeros_like(self.weights)

    def _sigmoid(self, x):
        # Stable Sigmoid function: Maps any number to range [0.0, 1.0]
        # 0.0 = 100% Cash (Safe)
        # 1.0 = 100% Long (Invested)
        return 1 / (1 + np.exp(-x))

    def predict(self, states):
        # 1. Compute Linear Logits
        logits = np.dot(states, self.weights)

        # 2. Apply Sigmoid (Forces output to be positive)
        return self._sigmoid(logits)

    def train_step(self, states, actions, market_returns):
        # REWARD LOGIC:
        # If Market Drops (-5%) and Action is 0.0 (Cash) -> Reward = 0.0
        # If Market Drops (-5%) and Action is 1.0 (Long) -> Reward = -5.0
        # Result: Agent learns that 0.0 > -5.0, so it learns to go to Cash during crashes.

        # Scale rewards for better gradients
        scaled_rewards = (actions * market_returns) * 100.0

        # 3. DERIVATIVE CHANGE
        # Derivative of Tanh is (1 - x^2)
        # Derivative of Sigmoid is x * (1 - x)
        d_sigmoid = actions * (1 - actions)

        # Standard Gradient Calculation
        grads = states * d_sigmoid[:, None] * scaled_rewards[:, None]
        mean_grad = np.mean(grads, axis=0)

        # Optimizer (Momentum)
        self.velocity = (0.9 * self.velocity) + (0.1 * mean_grad)
        self.weights += self.lr * self.velocity

        return np.mean(actions * market_returns)

class BatchEnv:
    def __init__(self, X, y, lookback=20):
        self.X = X # Normalized Inputs
        self.y = y # Raw Returns (for PnL)
        self.lookback = lookback
        self.n_days, self.n_assets = X.shape

    def get_batch(self, batch_size=2048):
        asset_idx = np.random.randint(0, self.n_assets, size=batch_size)
        day_idx = np.random.randint(0, self.n_days - self.lookback - 1, size=batch_size)

        X_batch = []
        y_batch = []

        for i in range(batch_size):
            t, a = day_idx[i], asset_idx[i]
            X_batch.append(self.X[t : t + self.lookback, a])
            y_batch.append(self.y[t + self.lookback, a])

        return np.array(X_batch), np.array(y_batch)

# ==============================================================================
# 3. RUNNER
# ==============================================================================

def run_level2_experiment(df_ohlcv):
    # A. Data
    X_train, y_train, X_test, y_test = prepare_robust_data(df_ohlcv)

    # B. Setup
    LOOKBACK = 60

    EPOCHS = 1500 # More epochs
    BATCH_SIZE = 4096 # Bigger batch

    env = BatchEnv(X_train, y_train, lookback=LOOKBACK)
    agent = LongOnlyAgent(input_dim=LOOKBACK, learning_rate=0.05)

    history = []

    print("\nðŸš€ Starting Level 2 Training (Normalized)...")

    for i in range(EPOCHS):
        X, y = env.get_batch(BATCH_SIZE)
        actions = agent.predict(X)
        avg_pnl = agent.train_step(X, actions, y)
        history.append(avg_pnl)

        if i % 200 == 0:
            # Check if weights are moving
            w_norm = np.linalg.norm(agent.weights)
            print(f"Epoch {i:4d} | Batch PnL: {avg_pnl*100:.5f}% | Weight Mag: {w_norm:.4f}")

    # C. Test
    print("\nðŸ§ª Running Validation...")
    test_env = BatchEnv(X_test, y_test, lookback=LOOKBACK)
    X_val, y_val = test_env.get_batch(10000)

    actions_val = agent.predict(X_val)
    results = actions_val * y_val
    final_score = np.mean(results)

    # D. Stats
    win_rate = np.mean(results > 0)
    print(f"FINAL TEST RESULT: Avg PnL: {final_score*100:.5f}%")
    print(f"Win Rate: {win_rate*100:.1f}% (Random is 50%)")
    print(f"LOOKBACK: {LOOKBACK}")
    print(f"LEARNING RATE: {agent.lr}")

# ==============================================================================
    # E. VISUALIZATION (Updated with Negative Lookback Axis)
    # ==============================================================================
    plt.figure(figsize=(12, 5))

    # --- Left Chart: Training Curve ---
    plt.subplot(1, 2, 1)
    plt.plot(pd.Series(history).rolling(100).mean())
    plt.title(f"Training Curve (LR: {agent.lr})")
    plt.ylabel("Avg PnL (Reward)")
    plt.xlabel("Epochs")
    plt.grid(True, alpha=0.3)

    # --- Right Chart: Strategy Weights ---
    plt.subplot(1, 2, 2)

    # Create X-Axis values: from -20 to -1
    # np.arange(-20, 0) generates [-20, -19, ... , -1]
    days_lookback = np.arange(-LOOKBACK, 0)

    # Plot bars using the negative x-values
    plt.bar(days_lookback, agent.weights)

    plt.title("Learned Strategy Weights")
    plt.ylabel("Weight Influence (Negative=Avoid, Positive=Buy)")
    plt.xlabel("Days Lookback (Yesterday = -1)")

    # Force the X-axis to show every integer tick
    plt.xticks(days_lookback, fontsize=8)

    # Add a zero line for clarity
    plt.axhline(0, color='black', lw=1)
    plt.grid(axis='y', alpha=0.3)

    plt.tight_layout()
    plt.show()

# Run
run_level2_experiment(df_ohlcv)

##################################  
##################################

In [4]:
# 1. Pivot
closes = df_ohlcv['Adj Close'].unstack(level=0)

print(f'closes.shape: {closes.shape}')
closes.head()

closes.shape: (16098, 1594)

Ticker,A,AA,AAL,AAON,AAPL,ABBV,ABEV,ABNB,ABT,ABVX,...,ZBH,ZBRA,ZG,ZION,ZK,ZM,ZS,ZTO,ZTS,ZWS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,1.47582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,1.49840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,1.49840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,1.49557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,1.44478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(f'closes.shape: {closes.shape}')
closes.head()

closes.shape: (16098, 1594)

Ticker,A,AA,AAL,AAON,AAPL,ABBV,ABEV,ABNB,ABT,ABVX,...,ZBH,ZBRA,ZG,ZION,ZK,ZM,ZS,ZTO,ZTS,ZWS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,NaN,1.47582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,NaN,1.49840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-04,NaN,1.49840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-05,NaN,1.49557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-08,NaN,1.44478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:

import numpy as np
# 2. Log Returns
log_returns = np.log(closes / closes.shift(1)).fillna(0.0)

c:\Users\ping\Files_win10\python\py311\.venv\Lib\site-packages\pandas\core\internals\blocks.py:393: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

In [8]:
print(f'log_returns.shape: {log_returns.shape}')
log_returns.head()

log_returns.shape: (16098, 1594)

Ticker,A,AA,AAL,AAON,AAPL,ABBV,ABEV,ABNB,ABT,ABVX,...,ZBH,ZBRA,ZG,ZION,ZK,ZM,ZS,ZTO,ZTS,ZWS
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962-01-03,0.0,0.015184,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962-01-04,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962-01-05,0.0,-0.001890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962-01-08,0.0,-0.034550,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
window = 60
df = pd.DataFrame(log_returns)
# # Calculate rolling mean and std
roll_mean = df.rolling(window=window, min_periods=window).mean()
# roll_std = df.rolling(window=window, min_periods=window).std()

In [11]:
window = 60
df = pd.DataFrame(log_returns.values)
# # Calculate rolling mean and std
roll_mean = df.rolling(window=window, min_periods=window).mean()
# roll_std = df.rolling(window=window, min_periods=window).std()

In [ ]:
def get_rolling_z_score(data_matrix, window=60):
    """
    Normalizes data so the Agent sees 'Standard Deviations' instead of 'Percent'.
    This solves the Vanishing Gradient problem.
    """
    df = pd.DataFrame(data_matrix)
    # Calculate rolling mean and std
    roll_mean = df.rolling(window=window, min_periods=window).mean()
    roll_std = df.rolling(window=window, min_periods=window).std()

    # Z-Score = (Value - Mean) / StdDev
    z_scores = (df - roll_mean) / (roll_std + 1e-8) # 1e-8 prevents divide by zero

    # Fill NaN (the first 60 days) with 0
    return z_scores.fillna(0.0).values

In [ ]:
# 1. Pivot
closes = df_ohlcv['Adj Close'].unstack(level=0)

# 2. Log Returns
log_returns = np.log(closes / closes.shift(1)).fillna(0.0)

# 3. NORMALIZE (The Fix)
# We pass the NORMALIZED data to the Input (X)
# But we keep raw log_returns for the Reward Calculation (y)
print("    > Calculating Rolling Z-Scores (60d)...")
norm_features = get_rolling_z_score(log_returns.values)

In [ ]:
X_train, y_train, X_test, y_test = prepare_robust_data(df_ohlcv)

In [ ]:
print(f'df_ohlcv.shape: {df_ohlcv.shape}')
X_train.shape