In [1]:
# Configuration

# days used in calculating ratios
DAYS_RATIO = [3, 5, 10, 15, 30, 60, 120, 250]

# risk free rate
RISK_FREE_RATE = 0.04

In [2]:
import pandas as pd

# Set pandas display options to show more columns and rows
pd.set_option('display.max_columns', None)  # Show all columns
# pd.set_option('display.max_rows', 10)       # Limit to 10 rows for readability
pd.set_option('display.width', None)        # Let the display adjust to the window

# 2. Set the display width (optional but often helpful)
#    'None' tries to detect terminal width. 
#    A large number (e.g., 1000) ensures no wrapping unless absolutely necessary.
pd.set_option('display.width', 1000)

In [3]:
# process_files.py
from config import date_str, DOWNLOAD_DIR, DEST_DIR
from pathlib import Path  # Better path handling

print(f"date_str: {date_str}")
# print(f"DOWNLOAD_DIR: {DOWNLOAD_DIR}")
print(f"DEST_DIR: {DEST_DIR}\n")

# Build paths
source_path = Path(DEST_DIR) / f'{date_str}_df_OHLCV_clean.parquet'
dest_path = Path(DEST_DIR) / f'{date_str}_df_perf_ratios.parquet'

print(f"source_path: {source_path}")
print(f"dest_path: {dest_path}")

date_str: 2025-04-04
DEST_DIR: ..\data

source_path: ..\data\2025-04-04_df_OHLCV_clean.parquet
dest_path: ..\data\2025-04-04_df_perf_ratios.parquet

In [4]:
import pandas as pd

# Get tickers from df_finviz.pkl file
df_finviz = pd.read_parquet(f'..\data\{date_str}_df_finviz.parquet')
tickers = df_finviz.index.to_list()

In [ ]:
import pandas as pd

pd.set_option('display.width', 1000) 

# Load the DataFrame df_OHLCV_2025-03-14_clean.pkl
# df = pd.read_pickle(source_path)
df = pd.read_parquet(source_path, engine='pyarrow')

# # Display the first few rows of the DataFrame to verify
# df = df[['Adj Close']].copy()
display(df)

                     Open    High     Low   Close  Adj Close   Volume  Adj Open  Adj High  Adj Low
Symbol Date
CLX    2025-04-04  148.72  150.84  143.37  143.86     143.86  2083767    148.72    150.84   143.37
       2025-04-03  148.46  150.60  148.04  148.69     148.69  1199500    148.46    150.60   148.04
       2025-04-02  148.05  148.34  146.05  147.62     147.62   813000    148.05    148.34   146.05
       2025-04-01  148.08  148.08  146.51  147.91     147.91  1080800    148.08    148.08   146.51
       2025-03-31  146.23  148.48  146.23  147.25     147.25  1201800    146.23    148.48   146.23
...                   ...     ...     ...     ...        ...      ...       ...       ...      ...
COOP   2024-04-11   76.55   77.29   76.03   77.22      77.22   279700     76.55     77.29    76.03
       2024-04-10   75.83   77.72   75.32   76.45      76.45   498800     75.83     77.72    75.32
       2024-04-09   78.51   78.54   76.25   77.57      77.57   245600     78.51     78.54    76.25
       2024-04-08   77.68   78.15   77.06   77.54      77.54   463800     77.68     78.15    77.06
       2024-04-05   75.92   77.53   75.53   77.13      77.13   602300     75.92     77.53    75.53

[386038 rows x 9 columns]

In [ ]:
import pandas as pd

# Load the DataFrame df_OHLCV_2025-03-14_clean.pkl
# df = pd.read_pickle(source_path)
df = pd.read_parquet(source_path, engine='pyarrow')

# Display the first few rows of the DataFrame to verify
df = df[['Adj Close']].copy()
display(df)

                   Adj Close
Symbol Date
CLX    2025-04-04     143.86
       2025-04-03     148.69
       2025-04-02     147.62
       2025-04-01     147.91
       2025-03-31     147.25
...                      ...
COOP   2024-04-11      77.22
       2024-04-10      76.45
       2024-04-09      77.57
       2024-04-08      77.54
       2024-04-05      77.13

[386038 rows x 1 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 386038 entries, ('CLX', Timestamp('2025-04-04 00:00:00')) to ('COOP', Timestamp('2024-04-05 00:00:00'))
Data columns (total 1 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Adj Close  386038 non-null  float64
dtypes: float64(1)
memory usage: 4.5+ MB

In [8]:
import pandas as pd

def select_tickers_data(df, tickers):
  """
  Selects data for a list of tickers from a DataFrame with a MultiIndex
  where the first level is the ticker and the second level is the date.

  Args:
    df (pd.DataFrame): The input DataFrame with a MultiIndex.
    tickers (list): A list of ticker symbols to select.

  Returns:
    pd.DataFrame: A DataFrame containing only the data for the specified tickers.
                  Rows for tickers not found will not be included.
  """
  valid_tickers = [t for t in tickers if t in df.index.get_level_values(0)]  # Filter out the tickers that do not exist

  if not valid_tickers:
    print("No valid tickers found in the DataFrame. Returning an empty DataFrame.")
    return pd.DataFrame()

  try:
    ticker_df = df.loc[valid_tickers]
    return ticker_df
  except KeyError as e:
    print(f"KeyError after filtering valid tickers: {e}") #Added to help debugging.
    return pd.DataFrame()


# Example usage:
# ticker_list = ["UBS", "AAPL", "MSFT", "GEV"]  # Include some valid and invalid tickers
selected_data = select_tickers_data(df, tickers)
print(selected_data)

                   Adj Close
Symbol Date
AAPL   2025-04-04     188.38
       2025-04-03     203.19
       2025-04-02     223.89
       2025-04-01     223.19
       2025-03-31     222.13
...                      ...
BKLC   2024-04-11      97.27
       2024-04-10      96.59
       2024-04-09      97.42
       2024-04-08      97.32
       2024-04-05      97.42

[386038 rows x 1 columns]

In [9]:
# Get root directory (assuming notebook is in root/notebooks/)
NOTEBOOK_DIR = Path.cwd()
ROOT_DIR = NOTEBOOK_DIR.parent if NOTEBOOK_DIR.name == 'notebooks' else NOTEBOOK_DIR

import sys

# Add src directory to Python path
sys.path.append(str(ROOT_DIR / 'src'))

import utils

list_dfs = utils.get_latest_dfs(selected_data, DAYS_RATIO)

In [10]:
import numpy as np

all_results = {}

for _df in list_dfs:
    tickers_in_df = _df.index.get_level_values(0).unique()
    for ticker in tickers_in_df:
        # Suppress division warnings just for this calculation
        with np.errstate(divide='ignore', invalid='ignore'):
            result_df = utils.analyze_stock(_df, ticker, risk_free_rate=RISK_FREE_RATE)
        
        if result_df is not None:
            # Extract the ticker name from the result_df index
            ticker_name = result_df.index[0]
            # Convert the single-row DataFrame to a dictionary
            metrics = result_df.iloc[0].to_dict()
            
            # Update the existing ticker entry or create a new one
            if ticker_name in all_results:
                all_results[ticker_name].update(metrics)
            else:
                all_results[ticker_name] = metrics

if all_results:
    combined_df = pd.DataFrame.from_dict(all_results, orient='index')
    print("\nCombined performance metrics DataFrame:")
    print(combined_df)
else:
    print("No performance metrics were calculated.")

Combined performance metrics DataFrame:
       Sharpe 3d  Sortino 3d  Omega 3d  Sharpe 5d  Sortino 5d  Omega 5d  Sharpe 10d  Sortino 10d  Omega 10d  Sharpe 15d  Sortino 15d  Omega 15d  Sharpe 30d  Sortino 30d  Omega 30d  Sharpe 60d  Sortino 60d  Omega 60d  Sharpe 120d  Sortino 120d  Omega 120d  Sharpe 250d  Sortino 250d  Omega 250d
A    -204.991083  -15.850762       0.0 -13.576523  -11.371100  0.121459  -11.415996    -9.803333   0.104632   -8.540250    -7.937587   0.182221   -6.498826    -6.608261   0.307531   -3.860204    -4.453333   0.507592    -2.471881     -3.073085    0.652861    -1.217535     -1.570256    0.808377
AA   -107.194076  -15.788181       0.0 -11.923817  -10.528191  0.105663  -11.106768    -9.568575   0.094825   -9.083853    -8.420301   0.175879   -4.636415    -5.086422   0.454572   -2.725191    -3.169771   0.627061    -2.014561     -2.463068    0.706392    -0.613821     -0.831460    0.903286
AAL   -12.482107  -11.803624       0.0  -7.435087   -7.815331  0.213042  -10.924308    -9.612466   0.114235   -5.423890    -5.925948   0.400263   -7.026761    -7.298415   0.334530   -5.146357    -5.559081   0.414615    -0.766315     -1.100467    0.868250    -0.716750     -1.008001    0.876572
AAON  -56.623578  -15.571488       0.0  -3.838804   -5.002658  0.545655   -6.230106    -6.912680   0.358161   -3.553364    -4.436940   0.571749   -2.579292    -2.905182   0.589510   -2.462361    -2.761752   0.606846    -1.131631     -1.443686    0.789174    -0.246739     -0.316277    0.950369
AAPL  -95.026397  -15.764901       0.0 -12.384945  -10.636673  0.045822   -6.678160    -6.618329   0.250304   -4.038113    -4.229474   0.433871   -5.329777    -5.405819   0.359056   -2.808640    -3.137364   0.595722    -1.353902     -1.571679    0.776159     0.421866      0.563738    1.079840
...          ...         ...       ...        ...         ...       ...         ...          ...        ...         ...          ...        ...         ...          ...        ...         ...          ...        ...          ...           ...         ...          ...           ...         ...
ZION  -27.545019  -14.700714       0.0 -10.535982   -9.743315  0.098794   -7.462892    -7.158732   0.135329   -4.415947    -4.576762   0.353877   -4.010829    -4.185009   0.416748   -2.723461    -3.016145   0.595593    -0.754512     -1.071092    0.854969     0.064269      0.093273    1.012066
ZM    -21.747492  -14.106294       0.0  -8.230429   -8.281189  0.169777   -9.686818    -8.740669   0.106759   -4.725743    -5.048491   0.372436   -3.768466    -4.007153   0.468097   -1.872238    -2.332709   0.686607    -0.183343     -0.248265    0.967397     0.264599      0.388601    1.049542
ZS    -93.343025  -15.760955       0.0  -7.921706   -8.226775  0.261820   -7.336089    -7.375257   0.286247   -4.422085    -4.744818   0.443654   -1.716559    -2.029937   0.759750   -0.521501    -0.667298   0.916086    -0.555220     -0.716547    0.912985     0.002485      0.003188    1.000438
ZTO   -25.464852  -14.525875       0.0 -17.055996  -12.359441  0.000000   -8.819993    -8.369344   0.175922   -5.399860    -5.696443   0.349074   -1.844140    -2.316385   0.731592   -0.386183    -0.498181   0.940540    -2.183083     -2.707657    0.706427    -0.161893     -0.237536    0.973491
ZTS   -32.246457  -14.992150       0.0 -13.143988  -11.123854  0.107018   -6.122947    -6.372216   0.365760   -5.821924    -5.981443   0.332034   -2.643343    -3.098733   0.642588   -1.200910    -1.474613   0.819160    -1.866796     -2.236067    0.734474    -0.336426     -0.447062    0.942477

[1538 rows x 24 columns]

In [11]:
import numpy as np
import pandas as pd

def find_nan_inf(df):
    """
    Finds locations of NaN, Inf, and -Inf values in a DataFrame.
    
    Args:
        df (pd.DataFrame): DataFrame to check
        
    Returns:
        dict: Dictionary with column names as keys and dicts of 
              {type: indices} as values
    """
    nan_inf_locations = {}
    for col in df.columns:
        locations = {
            'NaN': df[col].index[df[col].isnull()].tolist(),
            'Inf': df[col].index[df[col] == np.inf].tolist(),
            '-Inf': df[col].index[df[col] == -np.inf].tolist()
        }
        if any(locations.values()):
            nan_inf_locations[col] = locations
    return nan_inf_locations

def print_nan_inf_locations(locations, message):
    """Prints NaN/Inf locations with a descriptive message."""
    print(message)
    if locations:
        for col, locs in locations.items():
            print(f"Column: {col}")
            for typ, indices in locs.items():
                if indices:
                    print(f"  {typ}: {indices}")
    else:
        print("No NaN or Inf values found.")

def get_column_replacement_values(df):
    """
    Calculate replacement values for each column (max for Inf/NaN, min for -Inf).
    
    Args:
        df (pd.DataFrame): Input DataFrame
        
    Returns:
        tuple: (max_values, min_values) dictionaries with column replacement values
    """
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    max_values = {}
    min_values = {}
    
    for col in numeric_cols:
        # Get finite values only
        finite_vals = df[col][np.isfinite(df[col])]
        if len(finite_vals) > 0:
            max_values[col] = finite_vals.max()
            min_values[col] = finite_vals.min()
        else:
            # If no finite values, use default
            max_values[col] = 1e5
            min_values[col] = -1e5
    
    return max_values, min_values

# Check for NaN or Inf values
has_nan_inf = combined_df.isnull().any().any() or not np.isfinite(combined_df).all().all()
print(f'combined_df has_nan_inf: {has_nan_inf}')

if has_nan_inf:
    # Calculate replacement values for each column
    max_values, min_values = get_column_replacement_values(combined_df)
    print("Replacing NaN/Inf values with column-specific max/min values")
    
    nan_inf_locations_before = find_nan_inf(combined_df)
    print_nan_inf_locations(nan_inf_locations_before, "NaN/Inf Locations BEFORE Replacement:")
    
    # Create cleaned DataFrame
    df_to_save = combined_df.copy()
    
    # Replace values column by column
    for col in df_to_save.columns:
        if col in max_values:  # Only numeric columns will be in max_values
            # Replace NaN and +Inf with max value
            df_to_save[col] = df_to_save[col].fillna(max_values[col])
            df_to_save[col] = df_to_save[col].replace([np.inf], max_values[col])
            # Replace -Inf with min value
            df_to_save[col] = df_to_save[col].replace([-np.inf], min_values[col])
else:
    print("No NaN or Inf values found.")
    df_to_save = combined_df

# Verification
print(f'df_to_save has_nan_inf: {df_to_save.isnull().any().any() or not np.isfinite(df_to_save).all().all()}')
print_nan_inf_locations(find_nan_inf(df_to_save), "NaN/Inf Locations AFTER Replacement:")

# Output cleaned DataFrame
print(df_to_save)

combined_df has_nan_inf: True
Replacing NaN/Inf values with column-specific max/min values
NaN/Inf Locations BEFORE Replacement:
Column: Sharpe 3d
  -Inf: ['IBDQ']
Column: Sortino 3d
  Inf: ['AGG', 'BCE', 'BILS', 'BIV', 'BLV', 'BND', 'BNDX', 'BSV', 'CMF', 'EAGG', 'EDV', 'FIXD', 'GBIL', 'GOVT', 'GVI', 'IAGG', 'ICSH', 'IEF', 'IEI', 'JCPB', 'JMBS', 'LMBS', 'SCHO', 'SCHR', 'SGOV', 'SHM', 'SPAB', 'SPMB', 'SPTI', 'SPTL', 'SPTS', 'SUB', 'TFI', 'TFLO', 'TLH', 'TLT', 'TMF', 'TOTL', 'VGIT', 'VGLT', 'VGSH', 'VMBS', 'VTEB']
Column: Omega 3d
  NaN: ['AGG', 'BCE', 'BILS', 'BIV', 'BLV', 'BND', 'BNDX', 'BSV', 'CMF', 'EAGG', 'EDV', 'FIXD', 'GBIL', 'GOVT', 'GVI', 'IAGG', 'ICSH', 'IEF', 'IEI', 'JCPB', 'JMBS', 'LMBS', 'SCHO', 'SCHR', 'SGOV', 'SHM', 'SPAB', 'SPMB', 'SPTI', 'SPTL', 'SPTS', 'SUB', 'TFI', 'TFLO', 'TLH', 'TLT', 'TMF', 'TOTL', 'VGIT', 'VGLT', 'VGSH', 'VMBS', 'VTEB']
Column: Sortino 5d
  Inf: ['BLV', 'IAGG', 'SUB']
Column: Omega 5d
  NaN: ['BLV', 'IAGG', 'SUB']
Column: Sortino 10d
  Inf: ['IAGG']
Column: Omega 10d
  NaN: ['IAGG']
df_to_save has_nan_inf: False
NaN/Inf Locations AFTER Replacement:
No NaN or Inf values found.
       Sharpe 3d  Sortino 3d  Omega 3d  Sharpe 5d  Sortino 5d  Omega 5d  Sharpe 10d  Sortino 10d  Omega 10d  Sharpe 15d  Sortino 15d  Omega 15d  Sharpe 30d  Sortino 30d  Omega 30d  Sharpe 60d  Sortino 60d  Omega 60d  Sharpe 120d  Sortino 120d  Omega 120d  Sharpe 250d  Sortino 250d  Omega 250d
A    -204.991083  -15.850762       0.0 -13.576523  -11.371100  0.121459  -11.415996    -9.803333   0.104632   -8.540250    -7.937587   0.182221   -6.498826    -6.608261   0.307531   -3.860204    -4.453333   0.507592    -2.471881     -3.073085    0.652861    -1.217535     -1.570256    0.808377
AA   -107.194076  -15.788181       0.0 -11.923817  -10.528191  0.105663  -11.106768    -9.568575   0.094825   -9.083853    -8.420301   0.175879   -4.636415    -5.086422   0.454572   -2.725191    -3.169771   0.627061    -2.014561     -2.463068    0.706392    -0.613821     -0.831460    0.903286
AAL   -12.482107  -11.803624       0.0  -7.435087   -7.815331  0.213042  -10.924308    -9.612466   0.114235   -5.423890    -5.925948   0.400263   -7.026761    -7.298415   0.334530   -5.146357    -5.559081   0.414615    -0.766315     -1.100467    0.868250    -0.716750     -1.008001    0.876572
AAON  -56.623578  -15.571488       0.0  -3.838804   -5.002658  0.545655   -6.230106    -6.912680   0.358161   -3.553364    -4.436940   0.571749   -2.579292    -2.905182   0.589510   -2.462361    -2.761752   0.606846    -1.131631     -1.443686    0.789174    -0.246739     -0.316277    0.950369
AAPL  -95.026397  -15.764901       0.0 -12.384945  -10.636673  0.045822   -6.678160    -6.618329   0.250304   -4.038113    -4.229474   0.433871   -5.329777    -5.405819   0.359056   -2.808640    -3.137364   0.595722    -1.353902     -1.571679    0.776159     0.421866      0.563738    1.079840
...          ...         ...       ...        ...         ...       ...         ...          ...        ...         ...          ...        ...         ...          ...        ...         ...          ...        ...          ...           ...         ...          ...           ...         ...
ZION  -27.545019  -14.700714       0.0 -10.535982   -9.743315  0.098794   -7.462892    -7.158732   0.135329   -4.415947    -4.576762   0.353877   -4.010829    -4.185009   0.416748   -2.723461    -3.016145   0.595593    -0.754512     -1.071092    0.854969     0.064269      0.093273    1.012066
ZM    -21.747492  -14.106294       0.0  -8.230429   -8.281189  0.169777   -9.686818    -8.740669   0.106759   -4.725743    -5.048491   0.372436   -3.768466    -4.007153   0.468097   -1.872238    -2.332709   0.686607    -0.183343     -0.248265    0.967397     0.264599      0.388601    1.049542
ZS    -93.343025  -15.760955       0.0  -7.921706   -8.226775  0.261820   -7.336089    -7.375257   0.286247   -4.422085    -4.744818   0.443654   -1.716559    -2.029937   0.759750   -0.521501    -0.667298   0.916086    -0.555220     -0.716547    0.912985     0.002485      0.003188    1.000438
ZTO   -25.464852  -14.525875       0.0 -17.055996  -12.359441  0.000000   -8.819993    -8.369344   0.175922   -5.399860    -5.696443   0.349074   -1.844140    -2.316385   0.731592   -0.386183    -0.498181   0.940540    -2.183083     -2.707657    0.706427    -0.161893     -0.237536    0.973491
ZTS   -32.246457  -14.992150       0.0 -13.143988  -11.123854  0.107018   -6.122947    -6.372216   0.365760   -5.821924    -5.981443   0.332034   -2.643343    -3.098733   0.642588   -1.200910    -1.474613   0.819160    -1.866796     -2.236067    0.734474    -0.336426     -0.447062    0.942477

[1538 rows x 24 columns]

In [12]:
ticker_w_inf = nan_inf_locations_before['Sortino 3d']['Inf'][0]
ticker_w_inf

'AGG'

#### Use Cell below to check the inf, -inf and NaN replacement

In [13]:
print(f"combined_df.loc['ticker_w_inf']")
display(combined_df.loc[ticker_w_inf])
print(f"\ndf_to_save.loc['ticker_w_inf']")
display(df_to_save.loc[ticker_w_inf])

combined_df.loc['ticker_w_inf']

Sharpe 3d       15.075804
Sortino 3d            inf
Omega 3d              NaN
Sharpe 5d       11.298085
Sortino 5d      50.429633
Omega 5d         7.353537
Sharpe 10d       8.060198
Sortino 10d     23.121192
Omega 10d        3.859694
Sharpe 15d       4.773870
Sortino 15d      9.575133
Omega 15d        2.177501
Sharpe 30d       2.701479
Sortino 30d      4.818149
Omega 30d        1.500462
Sharpe 60d       2.660260
Sortino 60d      4.601861
Omega 60d        1.512313
Sharpe 120d      0.020505
Sortino 120d     0.029907
Omega 120d       1.003323
Sharpe 250d      0.612976
Sortino 250d     0.885469
Omega 250d       1.102828
Name: AGG, dtype: float64

df_to_save.loc['ticker_w_inf']

Sharpe 3d         15.075804
Sortino 3d      1413.904057
Omega 3d         126.960585
Sharpe 5d         11.298085
Sortino 5d        50.429633
Omega 5d           7.353537
Sharpe 10d         8.060198
Sortino 10d       23.121192
Omega 10d          3.859694
Sharpe 15d         4.773870
Sortino 15d        9.575133
Omega 15d          2.177501
Sharpe 30d         2.701479
Sortino 30d        4.818149
Omega 30d          1.500462
Sharpe 60d         2.660260
Sortino 60d        4.601861
Omega 60d          1.512313
Sharpe 120d        0.020505
Sortino 120d       0.029907
Omega 120d         1.003323
Sharpe 250d        0.612976
Sortino 250d       0.885469
Omega 250d         1.102828
Name: AGG, dtype: float64

In [ ]:
# Save the DataFrame to parquet file (always do this)
df_to_save.to_parquet(dest_path, engine='pyarrow', compression='zstd')
print(f"DataFrame successfully saved to {dest_path}")

DataFrame successfully saved to ..\data\2025-04-04_df_perf_ratios.parquet

In [15]:
import pandas as pd
import numpy as np
from tabulate import tabulate

_symbols = ['USFR','AAPL', 'MSFT', 'GOOG', 'NVDA', 'IBIT', 'GLD', 'VCIT']
# Create and display the formatted table
selected_df = df_to_save.loc[_symbols] #Use df_to_save here
print(tabulate(selected_df, headers='keys', tablefmt='grid', floatfmt='.4f'))

+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
|      |   Sharpe 3d |   Sortino 3d |   Omega 3d |   Sharpe 5d |   Sortino 5d |   Omega 5d |   Sharpe 10d |   Sortino 10d |   Omega 10d |   Sharpe 15d |   Sortino 15d |   Omega 15d |   Sharpe 30d |   Sortino 30d |   Omega 30d |   Sharpe 60d |   Sortino 60d |   Omega 60d |   Sharpe 120d |   Sortino 120d |   Omega 120d |   Sharpe 250d |   Sortino 250d |   Omega 250d |
+======+=============+==============+============+=============+==============+============+==============+===============+=============+==============+===============+=============+==============+===============+=============+==============+===============+=============+===============+================+==============+===============+================+==============+
| USFR |     -8.9691 |      -9.9710 |     0.1117 |     -9.1021 |      -8.8545 |     0.1548 |      -2.4160 |       -2.9563 |      0.6506 |      -4.7656 |       -5.3198 |      0.4513 |      -2.6357 |       -3.3965 |      0.6434 |       0.6445 |        0.9583 |      1.1108 |        2.4905 |         3.9809 |       1.5014 |        2.7486 |         4.3690 |       1.5618 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| AAPL |    -95.0264 |     -15.7649 |     0.0000 |    -12.3849 |     -10.6367 |     0.0458 |      -6.6782 |       -6.6183 |      0.2503 |      -4.0381 |       -4.2295 |      0.4339 |      -5.3298 |       -5.4058 |      0.3591 |      -2.8086 |       -3.1374 |      0.5957 |       -1.3539 |        -1.5717 |       0.7762 |        0.4219 |         0.5637 |       1.0798 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| MSFT |    -55.9690 |     -15.5646 |     0.0000 |     -6.9221 |      -7.7386 |     0.3002 |      -8.7696 |       -8.4783 |      0.2176 |      -5.4273 |       -5.7978 |      0.3985 |      -3.8311 |       -4.5377 |      0.5329 |      -2.5879 |       -3.1940 |      0.6311 |       -1.2700 |        -1.5673 |       0.7945 |       -0.7949 |        -1.0000 |       0.8724 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| GOOG |   -111.9152 |     -15.7953 |     0.0000 |     -8.2350 |      -8.5910 |     0.2338 |      -9.8588 |       -9.1066 |      0.1998 |      -5.5202 |       -5.9638 |      0.4206 |      -5.0140 |       -5.4770 |      0.4710 |      -3.4762 |       -3.9417 |      0.5668 |       -0.6620 |        -0.8781 |       0.8966 |       -0.1646 |        -0.2252 |       0.9721 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| NVDA |   -379.9017 |     -15.8676 |     0.0000 |    -10.6906 |      -9.8567 |     0.1215 |     -12.7153 |      -10.3649 |      0.0699 |      -7.7014 |       -7.4762 |      0.2492 |      -3.9790 |       -4.5100 |      0.5245 |      -2.1868 |       -2.5932 |      0.6873 |       -1.1436 |        -1.4172 |       0.8227 |        0.3606 |         0.4953 |       1.0617 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| IBIT |     -4.5630 |      -6.4885 |     0.4220 |      1.9949 |       2.9165 |     1.3674 |      -2.8081 |       -3.4589 |      0.6359 |      -0.1161 |       -0.1701 |      0.9820 |      -1.4837 |       -1.9277 |      0.7882 |      -0.8553 |       -1.1350 |      0.8725 |        1.3121 |         2.1016 |       1.2422 |        0.4809 |         0.7218 |       1.0821 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| GLD  |    -19.2418 |     -13.7119 |     0.0000 |    -10.6274 |      -9.7379 |     0.0594 |       1.2312 |        1.7237 |      1.2425 |       1.0470 |        1.4823 |      1.1946 |       1.3664 |        1.9915 |      1.2479 |       3.7314 |        6.0050 |      1.8088 |        1.6193 |         2.2348 |       1.2999 |        1.4856 |         2.1104 |       1.2718 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+
| VCIT |      0.7825 |       1.6824 |     1.1499 |      5.4670 |      10.2422 |     2.2904 |       5.4922 |       11.1081 |      2.3450 |       3.9539 |        7.1625 |      1.8501 |       1.6611 |        2.6202 |      1.2820 |       2.3067 |        3.8362 |      1.4314 |       -0.1744 |        -0.2495 |       0.9723 |        0.7056 |         1.0174 |       1.1178 |
+------+-------------+--------------+------------+-------------+--------------+------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+--------------+---------------+-------------+---------------+----------------+--------------+---------------+----------------+--------------+